<section class="chatUserSection">
  <h1>Contacto</h1>
  <h3>Deje su mensaje</h3>
  <div>
    <form onsubmit="addMessage(this)">
      <label for="Mensaje"
        >Ingrese mensaje
        <input type="message" id="inputMessage" required />
      </label>
      <button type="submit" id="btnSend">Enviar Mensaje</button>
    </form>
  </div>
  <h1>Historial de mensajes</h1>
  <div id="chatBox">
    <% if (data.messages < 1) { %>
    <p>No hay mensajes que mostrar</p>
    <% } %>
  </div>
</section>
