<%if (data.length > 0 ) {data.forEach(x => {%>
<tr class="prod">
  <td><p class="title"><%=x.title%></p></td>
  <td>
    <img
      src="<%=x.thumbnail%>"
      alt="<%=x.title%> img"
      style="max-height: 150px"
    />
  </td>
  <td><p class="price">$<%=x.price%></p></td>
</tr>

<%}) } else {%>
<tr class="prod">
  <td><p>No hay productos</p></td>
</tr>
<% } %>
