<% if (user) { %> <% if(user.username !== "Invitado"){ %>
<section class="container-fluid d-flex justify-content-between bg-light border">
  <a href="/api/usuario/sesion"
    ><div>
      <div>
        <img
          src="<%= user.profilePicture %>"
          alt="<%= user.username %> photo"
          height="50px"
          width="50px"
        />
      </div>
      <p><%= user.username %></p>
    </div></a
  >

  <a href="/api/carrito"
    ><button class="btn btn-info">Ir a mi carrito</button>
  </a>
</section>

<% } %> <% } else {%>
<section><p>Usted ha ingresado como invitado.</p></section>
<% } %>
