<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/stylesTemplates.css" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Desafío EJS</title>
  </head>
  <body>
    <section class="formSection">
      <h1>Lista de productos</h1>
      <form onsubmit="addProduct(this)">
        <label for="Producto"
          >Producto
          <input
            type="text"
            id="inputTitle"
            name="title"
            placeholder="Example"
            required
          />
        </label>
        <label for="Precio"
          >Precio
          <input
            type="number"
            id="inputPrice"
            name="price"
            placeholder="$####"
            required
          />
        </label>
        <label for="Miniatura"
          >Imagen
          <input
            type="text"
            id="inputThumbnail"
            name="thumbnail"
            placeholder="https://www.example.com/img"
            required
          />
        <label for="Descripcion"
          >Descripción
          <input
            type="text"
            id="inputDescription"
            name="description"
            placeholder="Descripción ejemplo"
            required
          />
        </label>
        <button type="submit">Cargar producto</button>
      </form>
    </section>
    <section class="prodList">
      <table id="prodTable">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Imagen</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody id="tBody">
          <%- include("./partials/prodList"); %>
        </tbody>
      </table>
    </section>
    <section class="chatSection">
      <h1>Deje su mensaje</h1>
      <div>
        <form onsubmit="addMessage(this)">
          <label for="e-mail"
            >Ingrese email
            <input type="email" id="inputEmail" required />
          </label>
          <label for="Mensaje"
            >Ingrese mensaje
            <input type="message" id="inputMessage" required />
          </label>
          <button type="submit" id="btnSend">Enviar Mensaje</button>
        </form>
      </div>
      <h1>Historial de mensajes</h1>
      <div id="chatBox"></div>
    </section>
    <div>
      <button><a href="/">Volver</a></button>
    </div>
    <script>
      const socket = io();
      //Productos
      const inputTitle = document.getElementById("inputTitle");
      const inputPrice = document.getElementById("inputPrice");
      const inputThumbnail = document.getElementById("inputThumbnail");
      const inputDescription = document.getElementById("inputDescription");
      const tBody = document.getElementById("tBody");

      const addProduct = (e) => {
        const prod = {
          title: inputTitle.value,
          price: inputPrice.value,
          thumbnail: inputThumbnail.value,
          description: inputDescription.value,
        };
        socket.emit("newProd", prod);
        console.log(prod)
        return false;
      };

      const renderProdTable = (data) => {
        tBody.innerHTML = "";
        const tr = data
          .map((prod) => {
            return `<tr class="prod">
            <td><p class="title">${prod.title}</p></td>
            <td>
              <img
                src="${prod.thumbnail}"
                alt="${prod.title} img"
                style="max-height: 150px"
              />
            </td>
            <td><p class="price">$${prod.price}</p></td>
          </tr>`;
          })
          .join("");
        tBody.innerHTML = tr;
      };

      socket.on("requestProducts", (data) => {
        renderProdTable(data);
      });

      //Chat
      const email = document.getElementById("inputEmail");
      const message = document.getElementById("inputMessage");
      const chatBox = document.getElementById("chatBox");

      const addMessage = (e) => {
        const messageInfo = {
          email: email.value,
          message: message.value,
        };
        socket.emit("newMessage", messageInfo);
        return false;
      };

      const renderChat = (data) => {
        if (data.length >= 1) {
          chatBox.innerHTML = "";
          const chat = data
            .map((message) => {
              return `<div class="messageBox">
                      <div class="left">
                        <p class="author">${message.email} dijo:</p> 
                        <p class="msg">${message.message}</p>
                      </div>
                      <p class="time">${message.sent}</p>
                    </div>`;
            })
            .join(" ");
          chatBox.innerHTML = chat;
        } else {
          chatBox.innerHTML = `<div class="messageBox"><p>No hay Mensajes aún</p></div>`;
        }
      };

      socket.on("requestChat", (data) => {
        renderChat(data);
      });
    </script>
  </body>
</html>
