<%- include("../partials/head.ejs") -%>
<section>
  <h1>Ingrese su usuario</h1>
  <form action="" method="post">
    <label for="user"></label><br />
    <input type="text" id="user" name="user" /><br />
    <label for="password"></label><br />
    <input type="text" id="password" name="password" /><br />
    <input type="submit" value="submit" />
  </form>
</section>
<%- include("../partials/footer.ejs") -%>
