<%- include("../partials/head.ejs") -%>
<section
  class="container bg-success bg-opacity-25 border border-dark border-2 rounded-4 mt-5 p-3"
>
  <h1>Inicie sesión</h1>
  <form action="" method="post">
    <label for="username">Ingrese su usuario</label><br />
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
    /><br />
    <label for="password">Ingrese su contraseña</label><br />
    <input
      type="text"
      id="password"
      name="password"
      class="form-control"
    /><br />
    <input type="submit" value="Ingresar" class="btn btn-outline-primary" />
  </form>
  <br />
  <div class="position-relative">
    <h2>¿No tenés cuenta?</h2>
    <a href="/api/user/signup" style="text-decoration: none"
      ><button class="btn btn-outline-info">Registro</button></a
    >
  </div>
</section>
<%- include("../partials/footer.ejs") -%>
